body {
    background-color: #dce7e5;
    padding: 0;   
}

/* NAVBAR */

#mainNavbar {
    padding: 20px 150px 20px 150px;
}


#navimg {
    width: 80px;
}

#navLinks {
    font-size: 1.4rem;
}

#navLinks > ul > li {
    border-bottom: 1px solid #b2dfea;
    border-top: 1px solid #b2dfea;
    border-radius: 15px;
    margin-right: 10px;
}

.nav-text-color {
    color: #b2dfea;
}

.nav-text-color:focus {
    color: #b2dfea;
}

.nav-text-color:hover {
    background-color: rgb(51, 51, 51);
    color: #b2dfea;
    border-left: 1px solid #b2dfea;
    border-right: 1px solid #b2dfea;
    border-radius: 15px;
    transition: background-color 350ms ease;
}

.dropdown-text-style {
    text-align: center;
    color: #ffffff;
    padding: 10px;
    border-top: 1px solid #b2dfea ;
    border-bottom: 1px solid #b2dfea;
    text-transform: uppercase;
    
}

.dropdown-text-style:hover {
    background-color: #333333;
    color: #b2dfea;
    transition: background-color 350ms ease;
}


/* SEARCH BAR */
.buttonsOnHover:hover {
    background-color: lightgray;
    transition: background-color 500ms ease;
    border: 1px solid black;
    font-weight: 600;
}

/* MAIN CONTENT */

.main-imgs {
    max-width:100%;    
}
.card_shadow:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.main-content-btn:hover {
    background-color: #373737;
    transition: background-color 500ms ease;
    font-weight: 600;    
}

/* BLOG */

.blog-cont {
    background: url(./img/blog-bg.jpg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 5px solid rgb(255, 255, 255);   
    color: white;
}

.blog-imgs {
    width: 150px;
}

.blog-read-more {
    float: right;
    font-size: 2.5rem;
    
}

.blog-read-more:hover {
    transform: rotate(-30deg);
}

.blog-btn-img {
    width: 80px;
    
}

/* ZDRAVA HRANA */

.expaned-div:hover {
    cursor: pointer;
    background-color: #b2dfea;
    transition: background-color 500ms ease;
    border-radius: 20px;
}

/* --------------------MEDIA QUERY-s-------------------- */

@media (max-width: 991px) {
    #navimg {
        width: 60px;
    }
    
    #mainNavbar {
        padding: 20px 120px 20px 120px;
    }

    #navLinks {
        font-size: .9rem;
    }

}

@media (max-width: 767px) {
   
    #mainNavbar {
        padding: 20px 100px 20px 100px;
    }

    #navLinks > ul {
        margin-top: 15px;
    }

    #navLinks > ul > li {
        margin-bottom: 15px;
    }
    .dropdown-menu {
        border: 0;
    }

    .dropdown-text-style {
        color:#ffffff;
        background-color: #33373b;;
        border-bottom: 0px;
        margin-bottom: 15px;
    }
}

@media (max-width: 575px) {

    #navimg {
        width: 50px;
        
    }
    #mainNavbar {
        padding: 20px 80px 20px 80px;
    }
 
    #search_input {
        position: relative!important;
    }    
}
